body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
li {
  list-style-type: none;
}
@import url("./hw-01/components/Profile.css");
@import url("./hw-02/components/Statistics.css");
@import url("./hw-03/components/FriendList.css");
@import url("./hw-04/components/Transactions.css");
